body{
    background-image: url(./背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景尺寸為1180*780px */
}

.back{
    position: absolute;
    left: 1.02%;
    right: 87.67%;
    top: 1.95%;
    bottom: 81.8%;
    width: 133.4px;
    height: 133.2px;
}

.text{
    position: absolute;
    width: 974px;
    height: 123px;
    left: 106px;
    top: 16px;
}

.change{
    position: absolute;
    width: 1130px;
    height: 659.35px;
    left: 25px;
    bottom: 0px;
    overflow: hidden;
}

.add{
    position: absolute;
    width: 74px;
    height: 74px;
    top: 255px;
    right: 660px;
}

.select{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 205px;
    right: 645px;
    /* background-color: cadetblue; */
}

.change2{
    position: absolute;
    width: 74px;
    height: 74px;
    top: 405px;
    right: 650px;
    /* background-color: blueviolet; */
}