body{
    background-image: url(./背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景尺寸為1180*780px */
}

.box{
    position: absolute;
    width: 986px;
    height: 525px;
    left: 97px;
    top: 121px;    
}

.complete{
    position: absolute;
    width: 216px;
    height: 124.12px;
    left: 480px;
    top: 549.88px;
}

.close{
    position: absolute;
    width: 130.32px;
    height: 130.56px;
    left: 926.88px;
    top: 123.64px;    
}