body{
    background-image: url(./背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景尺寸為1180*780px */
}

.box{
    position: absolute;
    width: 987px;
    height: 363px;
    left: 96px;
    top: 208px;    
}

.back{
    position: absolute;
    width: 130.32px;
    height: 130.56px;
    left: 118.12px;
    top: 215px;    
}

.gif{
    position: absolute;
    width: 300px;
    left: 37.2%;
    right: 37.37%;
    top: 48.59%;
    bottom: 38.64%;
}