body{
    background-image: url(./背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景尺寸為1180*780px */
}

.back{
    position: absolute;
    left: 1.02%;
    right: 87.67%;
    top: 1.95%;
    bottom: 81.8%;
    width: 133.4px;
    height: 133.2px;
}

.text{
    position: absolute;
    width: 974px;
    height: 123px;
    left: 106px;
    top: 16px;
}

.wait1{
    position: absolute;
    width: 70.5px;
    height: 70.5px;
    left: 447px;
    top: 255.5px;
}

.wait2{
    position: absolute;
    width: 70.1px;
    height: 70px;
    left: 460px;
    top: 407px;    
}

.change{
    position: absolute;
    width: 1130px;
    height: 659.35px;
    left: 25px;
    bottom: 0px;
    overflow: hidden;
}