body{
    background-image: url(./登入背景.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* 背景尺寸為1180*780px */
}

.back{
    position: absolute;
    left: 1.02%;
    right: 87.67%;
    top: 1.95%;
    bottom: 81.8%;
    width: 133.4px;
    height: 133.2px;
}

.text{
    position: absolute;
    width: 321px;
    left: 430px;
    top: 333px;
}

.smlOrPlanet{
    position: absolute;
    width: 75px;
    height: 78px;
    left: 611px;
    top: 114px;
    /* 動畫設定 */
    animation-name: move;
    animation-duration: 800ms;
    animation-timing-function: linear;
    animation-iteration-count: 1; 
  }
  @keyframes move {
    0% {
      top: 260px;
      left: 611px;
    }
    37.5% {
        top: 266px;
        left: 611px;
      }
    68.5% {
        top: 110px;
        left: 611px;
      }
    100% {
        top: 114px;
        left: 611px;
      }
}
